<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <h1>Here are all your collections:</h1>
            <ul>
                {% for collection in collections %}
                    <li>Collection Name: {{ collection.getName }}</li>
                {% endfor %}
            </ul>

            <form action="/collections" method="post">
                <div class="form-group">
                    <label for="name">Enter a name for your collection:</label>
                    <input id="name" name="name" type="text">
                </div>

                <button type="submit" class="btn btn-success">Add your collection</button>
            </form>

            <form action="/delete" method="post">
                <button type="submit" class="btn btn-danger">Destroy all Entries</button>
            </form>

        </div>
    </body>
</html>
