<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <h1>Here are all your collections:</h1>
                <ul>
                    {% for collection in collections %}
                        <li><a href="/collection/{{ collection.getId }}">{{ collection.getName }}</a></li>
                    {% endfor %}
                </ul>

                <form action="/collections" method="post">
                    <div class="form-group">
                        <label for="name">Add a new collection:</label>
                        <input id="name" name="name" type="text">
                    </div>

                    <button type="submit" class="btn btn-success">Add your collection</button>
                </form>

                <form action="/delete_collections" method="post">
                    <button type="submit" class="btn btn-danger">Destroy all collections</button>
                </form>
            </div>
        </div>
    </body>
</html>
